body {
	font-weight: 100;
	overflow-x: hidden;

	@media screen and (max-width: 530px) {
		@include font-size(1.3);
	}
}

.site {
	margin: 0 auto;
	padding: 3em 2%;
	max-width: 850px;

	@media screen and (max-width: 900px) {
		padding: 3em 5%;
	}

	@media screen and (max-width: 700px) {
		padding: 3em 8%;
	}

	@media screen and (max-width: 380px) {
		padding: 3em 5%;
	}
}


.site-header {
	margin: 0 0 5rem 0;
}

.site-branding {
	h1 {
		@include font-size(2);
		line-height: 1.5;
	}

	a {
		border: none;
		font-weight: 900;
		text-decoration: none;

		&:hover {
			color: rgb(120, 120, 120);
		}
	}
}

.site-header {
	opacity: 0.2;

	&:hover {
		opacity: 1;
	}
}

.home .site-header {
	opacity: 1;
}



.site-main {

	article {
		margin: 3em 0 3em 0;

		&:first-child {
			margin-top: 0;
		}

		li {
			word-wrap: break-word;
		}
	}

	.entry-header {
		display: inline-block;
		width: 100%;
	}

	.entry-meta {
		float: left;
		width: 15%;

		@media screen and (max-width: 530px) {
			float: none;
			width: 100%;
		}

		a {
			text-decoration: none;
		}

	}

	.entry-title {
		@include font-size(5);

		a {
			border: none;
			text-decoration: none;

			&:hover {
				color: rgb(120, 120, 120);
			}
		}

		@media screen and (max-width: 530px) {
			@include font-size(2.4);
		}

		&.gallery-title {
			@include font-size(3);
			margin-bottom: 0.5em;
			text-align: center;
		}
	}

	.entry-content,
	.entry-footer {
		margin: 0 0 1rem 0;

		@media screen and (max-width: 530px) {
			margin: 0.6em 0 0 0;
		}
	}

}


.format-link {
	.entry-header {
		position: relative;

		&:before {
			color: rgb(134, 143, 171);
			content: '\221E';
			font-weight: bold;
			left: -25px;
			position: absolute;
			@include font-size(2.4);
		}
	}
}


.format-status {
	.entry-content p:last-child {
		margin-bottom: 0;
	}
}


// Post Images
.size-large, .size-full {
	display: block;
	margin: 1rem 0 1rem -15%;
	max-width: 130%;
	width: 130%;

	@media screen and (max-width: 560px) {
		margin-left: -10%;
		width: 120%;
	}

	@media screen and (max-width: 380px) {
		margin-left: 0;
		width: 100%;
	}

}


.page-title {
	font-family: $font__headings;
	@include font-size(3);
}


.cat-links {
	.posted-on {
		a {
			padding-left: 0;
		}
	}
}


.single .home {
	@include font-size(1.3);
	margin: 0 0 3rem 0;

	a {
		color: rgb(200, 200, 200);
	}
}



// Instagram / Image Reel on homepage

.image-reel {
	display: inline-block;
	margin-left: -25%;
	width: 150%;

	a {
		border: none;
	}

	article {
		float: left;
		margin: 0;
		overflow: hidden;
		width: 25%;

		.entry-content {
			margin: 0;
		}

		p {
			margin: 0;
		}

		p:not(:first-child) {
			display: none;
		}
	}
}


// Post Listing Home Page
.post-listing {
	border-top: 1px solid rgb(200, 200, 200);
  padding: 3em 0 0 0;

	article {
		margin: 1em 0 1em 0;
	}
}


.hide {
	display: none !important;
}

.stopscroll {
	overflow-x: hidden;
}
