body {
	border-top: 5px solid rgb(121, 132, 168);
	@include font-size(1.6);

	@media screen and (max-width: 530px) {
		@include font-size(1.5);
	}
}



.site {
	margin: 0 auto;
	padding: 3em 4%;
	max-width: 750px;

	@media screen and (max-width: 900px) {
		padding: 3em 8%;
		max-width: 650px;
	}

	@media screen and (max-width: 700px) {
		padding: 3em 12%;
	}

	@media screen and (max-width: 380px) {
		padding: 3em 5%;
	}
}



.site-header {
	border-bottom: 1px dashed rgb(200, 200, 200);
	margin: 0 0 5rem 0;
	padding: 0 0 2rem 0;
}

.site-branding {
	font-family: 'Dancing Script', cursive;
	float: left;
	width: 75%;

	@media screen and (max-width: 450px) {
		text-align: center;
		width: 100%;
	}

	h1 {
		@include font-size(4);
		line-height: 2;
	}

	a {
		text-decoration: none;

		&:hover {
			color: rgb(120, 120, 120);
		}
	}
}

.site-header {
	opacity: 0.2;

	&:hover {
		opacity: 1;
	}
}

.home .site-header {
	opacity: 1;
}



.site-main {

	article {
		margin: 4em 0 3em 0;

		&:first-child {
			margin-top: 0;
		}

		li {
			word-wrap: break-word;
		}
	}

	.entry-header {
		display: inline-block;
		width: 100%;
	}

	.entry-meta {
		float: left;
		width: 15%;

		@media screen and (max-width: 530px) {
			float: none;
			width: 100%;
		}

		a {
			text-decoration: none;
		}

	}

	.entry-title {
		@include font-size(2.5);

		a {
			color: rgb(134, 143, 171);
			text-decoration: none;

			&:hover {
				color: rgb(120, 120, 120);
			}
		}

		@media screen and (max-width: 530px) {
			@include font-size(2.4);
		}

		&.gallery-title {
			@include font-size(3);
			margin-bottom: 0.5em;
			text-align: center;
		}
	}

	.entry-content,
	.entry-footer {
		margin: 0 0 1rem 0;

		@media screen and (max-width: 530px) {
			margin: 0.6em 0 0 0;
		}
	}

}


.format-link {
	.entry-header {
		position: relative;

		&:before {
			color: rgb(134, 143, 171);
			content: '\221E';
			font-weight: bold;
			left: -25px;
			position: absolute;
			@include font-size(2.4);
		}
	}
}


.format-status {
	.entry-content p:last-child {
		margin-bottom: 0;
	}
}


// Post Images
.size-large, .size-full {
	display: block;
	margin: 1rem 0 1rem -15%;
	max-width: 130%;
	width: 130%;

	@media screen and (max-width: 560px) {
		margin-left: -10%;
		width: 120%;
	}

	@media screen and (max-width: 380px) {
		margin-left: 0;
		width: 100%;
	}

}


.page-title {
	border-bottom: 1px solid rgb(225, 225, 225);
	color: rgb(100, 100, 100);
	font-family: 'Dancing Script', cursive;
	margin: 0 auto;
	text-align: center;
	width: 55%;
	@include font-size(3);
}


.cat-links {
	a {
		padding: 0.25em 0.5em;
	}

	.posted-on {
		a {
			padding-left: 0;
		}
	}
}


.single .home {
	@include font-size(1.3);
	margin: 0 0 3rem 0;

	a {
		color: rgb(200, 200, 200);
	}
}



.hide {
	display: none !important;
}

.stopscroll {
	overflow-x: hidden;
}

