div#secondary {
	border-top: 1px solid rgb(186, 186, 186);
	margin: 5em 0 0 0;
	padding: 3em 0 0 0;
}

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}


.widget_categories {

	ul {
		list-style: none;
		margin-left: 0;
	}

	li {
		float: left;
		margin: 0.3em 0.2em;
	}

	a {
		background-color: rgb(156, 171, 221);
	  border-right: 2px solid rgb(121, 132, 168);
		border-bottom: 2px solid rgb(121, 132, 168);
		color: rgb(255, 255, 255);
		padding: 0.25em 0.5em;

		&:hover {
			border-color: transparent;
			text-decoration: none;
		}
	}
}
