a {
	border-bottom: 0.1em solid rgb(73, 209, 202);
	color: $color__link;
	text-decoration: none;

	&:visited {
		border-bottom: 0.1em solid $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		border-bottom: 0.1em solid $color__link-hover;
	}
}
