.main-navigation {
	margin-left: -0.4em;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		float: left;
		text-align: center;

		@media screen and (max-width: 450px) {
			float: left;
		}
	}
	a {
		border: none;
		display: block;
		font-family: $font__headings;
		text-decoration: none;
		padding: 0.4em;
	}

}


.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
