
.comment-list {
	list-style: none;
	margin-left: 0;
}

.comments-title {
	border-top: 1px solid rgb(200,200,200);
	margin: 0 0 1em 0;
	padding: 0.55em 0 0 0;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}


.comment-form {

	label {
		display: block
	}
}

.form-allowed-tags,
.form-allowed-tags code {
	@include font-size(1.1);
}


// Webmentions

.webmention {
	.comment-author.vcard {
		display: none;
	}
}
